.SideDraw {
  position: fixed;
  width: 280px;
  /* max-height: 70%; */
  height: 100%;
  left: 0;
  top: 0;
  z-index: 400;
  background: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .SideDraw {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
/* của ông là do phân lớp sai thôi mà chỉnh lại tí là đc xem lại code của nó ý chứ z-index nó vẫn chạy */
/*z-index bao nhiêu cũng thế thôi . t css mãi k được.  */
